// .product-img { grid-area: img;
//                 background-color: blue;
//                         }
// .nutrition-fact { grid-area: fact ;background-color:rgb(0, 255, 170);}
// .more-info{ grid-area: info; background-color: orange;}
// .select-product { grid-area: product; background-color: yellow;; }
.product-img { grid-area: img;}
.nutrition-fact { grid-area: fact ;}
.more-info{ grid-area: info; }
.select-product { grid-area: product;  }

.page {
  height: 100vh;
  width: 100vw;
  background: $white;
  .container{
      position: absolute;
      top:0;
      left:0;
      height: 100vh;
      width: 100vw;
  .row {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    left:0px;
      

    align-items: center;
    .product-details{
      position: absolute;
      left:0px;
      top:0;
      display: grid;
      font-family: "Franklin Gothic Medium";
      height:100%;
      width: 100%;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "img fact " "img fact " "info product" "info product";
      
    }
    .pepsi-hide{ 
      display:flex;
      position: absolute;
      bottom: 0;
      height:50vh;
      left:66.66vh;
      justify-content:center;
      align-items:center;
      width:33.33vw;
      img{
         height: 300px;
          width: 240px;
          margin: 50px;
          margin-left: 52px;
          object-fit: contain;
      }
    }
    .pepsiZero-hide{ 
      position: absolute;
      bottom:0px;
      height:50vh;
      left:65.6vw;
      width:33.33vw;
      display:flex;
      justify-content:center;
      align-items:center;
      
      img{
          height: 300px;
          width: 240px;
          margin: 50px;
          margin-left: 55px;
          object-fit: contain;
      }
    }
    
.hide-container{ 
  display:flex;
  height:50vh;
  z-index: 0;
  width:98.90vw;
  position: absolute;
  bottom:0;
  left:0;
  overflow: hidden;
  
  h2 {
    font-size: 2.4rem;
    line-height: 3.4rem;
    width: 85%;
    position: relative;
    bottom:-203px;
    left: -99px;
    
    transform: rotate(90deg);
    transform-origin: top;
    color: $white;
      
    }

  .hide-block{ 
    height: 100%;
    width:33.33% ;
    position: absolute;
    bottom:0;
    left: 0;
    right:0;
    &:nth-child(1){
      background-color:#005CB4;
  
    }
    &:nth-child(3){
      background-color:#1e1e1e;
    
      left: 66.666%;

    }
    &:nth-child(2){
      
      left: 33.333%;
      background-color: rgb(226, 230, 219);
      h2{
        color:#005CB4;
      }
    }
  }

}
    .product-img{ 
      display:flex;
      justify-content: center;
      
      left:0;
      .pepsi-circle{
        display:flex;
        height:350px;
        position: relative;
        top:200px;
        left:63px;
        border-radius: 50%;
        width: 350px;
        background:linear-gradient(120deg, #e32934,#005CB4);
        
      }
      
      img{
        position: relative;
        top:100px;
        left:-230px;
        height:300px;
        width: 240px;
        object-fit: contain;
       
      }
    }
    .nutrition-fact{
      display: flex;
      justify-content: center;
      align-items: center;
      .nutrition-container{ 

        height:340px;
        width:270px;
        padding:10px;
        margin-left: -355px;
        background-color: aliceblue;
        border: 1px solid black;
        flex-direction:column;
        h1{
          border-bottom: 1px solid black;
          font-family: 1000;
          font-size: 40px;
          margin-top: -10px;
        }
        h3{
          color: rgb(97, 97, 97);
          margin-top: -20px;
        }
        .serving{
          display:flex;
          margin-top: -15px;
          justify-content: space-between;
          border-bottom: 10px solid black;
         font-size: 19px;
        }
        .daily-value{ 
          margin-top: -18px;
          display: flex;
          align-items: flex-end;
          padding-left: 200px;
          font-size: 10px;
          padding-bottom: 2px;
          border-bottom: 1px solid black;
        }
        h2{
          display:flex;
          
          justify-content: space-between;
          border-bottom: 1px solid black;
        
        }
        .calories{
          border-bottom: 6px solid black;
          margin-top: -13px;
        
        }
        h5{
          font-size: 13px;
          margin-bottom: 16px;
          display:flex;
          padding-bottom: 5px;
          margin-top: -14px;
          font-weight: 800;
          justify-content: space-between;
          border-bottom: 1px solid black;
        &:last-child{
          
          border-bottom:5px solid black;
        }
        }
        small{
          font-size:10px;
          font-weight: 100;
        }
        .source1{
          font-size:10px;
          margin-top: -8px;
          font-weight:200;
          border-bottom:1px solid black;
          padding-bottom: 5px;
        }
        .source{
          font-size:10px;
          margin-top: -16px;
          font-weight:200;
          padding-bottom: 5px;
        }
      }

    }
    .select-product{ 
      display:flex;

      align-items:center;
      .detail-thumb{
        margin-right: 125px;
        display:flex;
justify-content:center;
        align-items:center;
      img{
        
        height:100px;
        padding: 30px;
        width: 50px;
      }
    }
    }
    .more-info{ 
      display:flex;
      align-items:center;
      justify-content:center;
      .info-title{
        display:flex;
        align-items:center;
        justify-content:center;
        width: 550px;
        max-width: 550px;
        
      h1{
        line-height: 5vw;
        font-family: "Bai Jamjuree";
        font-weight: 600;
        font-size: 5vw;
        margin-left: -100px;
        -webkit-font-smoothing: antialiased;
        color: black;
        
      }
    }
    }
  }
}
}
.active{
  transition: .5s ease-in-out;
  transform: translateY(-20px);
}

